<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - portfolio</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'><link rel="stylesheet" href="portfolio-style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body data-spy="scroll" data-target="#myScrollspy" data-offset="80">
  <header id ="header">
    <nav class="navbar navbar-fixed-top" id="myScrollspy">
      <img src='img/donation.png' alt='CrisBarreiro' title='CrisBarreiro'/>
      <ul id ="nav-list" class="nav nav-tabs pull-right" role="tablist">
        <li><a href="/">Home</a></li>
        <li><a href="/">Donate</a></li>
        <li><a href="/search">Find</a></li>
      </ul>
    </nav>
  </header>
  <main id="content">
    <section id="about">
      <div id="about-div">
        <h1 class="text-center">Donation Details</h1>
          <hr class="dark"/>
        <div id="intro">
          <p id="about-text">If you have found an object and have uploaded on lost treasure and within a span of of 30 days if no authorized person claims the object, we provide immediately take hold of the situation. The object in question is donated to all the organizations that are in collabration with Lost Treasure.<br />From Clothes, Medicines , Food to various mini Appliances Lost Treasure has always been able to collaborate with great NGO's and organizations to put forth valuable contributions.<p>
        </div>
        <img id="avatar" src="./img/donation.png"/>
      </div>
    </section>
    <div id="projects"></div>
    <section id="projects-section">
      <h1 class="text-center">Previous Donations</h1>
          <hr class="dark">
          <div class="row">
     <img class="col-2-image-l" src="img/donate1.jpg">
     <img class="col-2-image-r" src="img/clothes.jfif">
      <img class="col-2-image-l" src="img/bottles.jfif">
       <img class="col-2-image-r" src="img/food.jpg">
       <img class="col-2-image-l" src="img/scrap.jfif">
       <img class="col-2-image-r" src="img/blanket.jfif">
      </div>
    </section>
    <section id="contact">
      <h1 class="text-center">Contact Details</h1>
      <hr class="dark">
      <form id="contact-form" action="#about">
        <div class="form-item">
          <input class="input" type="text" id="name" required/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label id="name-label" for="name">Lost Treasure Help Desk</label>
        </div>
        
        <div class="form-item">
          <input class="input" type="text" id="email" required/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label id="email-label" for="email">Emailid- losttreasurehelp@yahoo.com</label>
        </div>
        
        <div class="form-item">
          <input class="input" type="text" id="phone" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label id="phone-label" for="phone">Phone number- 1267903</label>
          
        </div>
        
        
        <!-- <div class="form-item">
          <textarea class="input" id ="message" rows="4" cols="50" required></textarea>
           <span class="highlight"></span>
           <span class="bar"></span>
           <label id="message-label" for="message">Message</label>
        </div> -->
        <!-- <div>
          <button class="btn btn-primary" type="submit">Send</button>
        </div> -->
      </form>
    </section>
  </main>
  <!-- <footer>
    <div class="row">
      <div id="about-page" class="col-md-6">
        <h3 class="text-center">About this page</h3>
        <p class="text-center">Made with <i class="fa fa-music"></i> and <i class="fa fa-heart"></i> by <a target="_blank" href="https://github.com/CrisBarreiro">Cristina Sánchez</a></p>
      </div>
      <div id="find-me" class="col-md-6">
        <h3 class="text-center">Find me at</h3>
        <ul class="text-center">
          <a target="_blank" href="https://linkedin.com/in/CrisBarreiro"><i class="fa fa-fw fa-linkedin"></i></a>
          <a target="_blank" href="https://twitter/CrisBarreiro"><i class="fa fa-fw fa-twitter"></i></a>
           <a target="_blank" href="https://github.com/CrisBarreiro"><i class="fa fa-fw fa-github"></i></a>
          <a target="_blank" href="https://bitbucket.com/CrisBarreiro"><i class="fa fa-fw fa-bitbucket"></i></a>
        <ul>
      </div>
    </div>
  </footer> -->
</body>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script><script  src="portfolio-script.js"></script>

</body>
</html>
